html
  head
    title= "notebook"
    link(href="public/main.css", rel="stylesheet", type="text/css")
    script(src="/socket.io/socket.io.js")
    script var socket = io();
  body
    h1= "Welcome"
    div
      span(style='color: red')= msg
    div
        p= "Use this form to save data"
        form(action='/save', method='post')
          input(type='text', name='key', placeholder='key')
          input(type='text', name='value', placeholder='note')
          input(type='submit', value='Save')
    div
        p= "Locate data"
        form(action='/load', method='post')
            input(type='text', name='key', placeholder='key')
            input(type='submit', value='Load')


    script(src="//cdn.jsdelivr.net/riot/2.3/riot.min.js")
    script(src="public/riot.js")
    script riot.mount('*')
    script(src="public/main.js")
